{#
  A small inline tag used to flash extra context onto a PRN/PERN
#}
{% macro appPrnFlashLabel(params) %}
  <span data-testid="{{params.dataTestId}}" class="flash-container flash-container--{{ params.backgroundColor | default('grey') }}">
    {{ params.labelText }}
  </span>
{% endmacro %}
