{% from "certificate-obligations-table/macro.njk" import appCertificateObligationsTable %}

{% macro appComplianceSubmitObligationsTables(params) %}
  <section class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p id="obligations-tonnes-note" class="govuk-body govuk-!-margin-bottom-4">{{ t(params.locale, params.localeBase + ".tonnesNote") }}</p>

      {{ appCertificateObligationsTable({
        locale: params.locale,
        tableRows: params.obligationsTableRows,
        caption: t(params.locale, "compliance.accessibility.obligationsTableCaption"),
        captionClasses: "govuk-table__caption--m",
        attributes: { "aria-describedby": "obligations-tonnes-note" },
        headMaterialKey: params.localeBase + ".tableMaterial",
        headObligationToMeetKey: params.localeBase + ".tableObligationToMeet",
        headAwaitingKey: params.localeBase + ".tableAwaiting",
        headAcceptedKey: params.localeBase + ".tableAccepted",
        headOutstandingKey: params.localeBase + ".tableOutstanding",
        headStatusKey: params.localeBase + ".tableStatus"
      }) }}
    </div>
  </section>

  <section class="govuk-grid-row" aria-labelledby="glass-table-heading">
    <div class="govuk-grid-column-full">
      <h2 id="glass-table-heading" class="govuk-heading-m">{{ t(params.locale, params.localeBase + ".glassHeading") }}</h2>

      {{ appCertificateObligationsTable({
        locale: params.locale,
        tableRows: params.glassTableRows,
        caption: t(params.locale, "compliance.accessibility.glassTableCaption"),
        captionClasses: "govuk-table__caption--m govuk-visually-hidden",
        attributes: { "aria-labelledby": "glass-table-heading" },
        headMaterialKey: params.localeBase + ".tableMaterial",
        headObligationToMeetKey: params.localeBase + ".tableObligationToMeet",
        headAwaitingKey: params.localeBase + ".tableAwaiting",
        headAcceptedKey: params.localeBase + ".tableAccepted",
        headOutstandingKey: params.localeBase + ".tableOutstanding",
        headStatusKey: params.localeBase + ".tableStatus"
      }) }}
    </div>
  </section>
{% endmacro %}
