
{% macro appComplianceSubmitOverallStatus(params) %}
  <section class="govuk-grid-row" aria-labelledby="{{ 'recycling-obligations-heading' if params.showRecyclingObligationsHeading else 'overall-obligation-status' }}">
    <div class="govuk-grid-column-full">
      {% if params.showRecyclingObligationsHeading %}
        <h2 id="recycling-obligations-heading" class="govuk-heading-m">{{ params.i18n.ct('overallStatus', 'recyclingObligationsHeading') }}</h2>
      {% endif %}
      {% if params.overallStatus == 'Met' %}
        <div class="app-obligation-status app-obligation-status--met govuk-!-margin-bottom-6" role="status">
          <p id="overall-obligation-status" class="app-obligation-status__text govuk-body-l govuk-!-font-weight-bold">
            {{ params.i18n.ct('overallStatus', 'overallMet') }}
          </p>
        </div>
      {% else %}
        <div class="app-obligation-status app-obligation-status--not-met govuk-!-margin-bottom-6" role="status">
          <p id="overall-obligation-status" class="app-obligation-status__text govuk-body-l govuk-!-font-weight-bold">
            {{ params.i18n.ct('overallStatus', 'overallNotMet') }}
          </p>
        </div>
      {% endif %}
    </div>
  </section>
{% endmacro %}
