
{% macro appComplianceSubmitOverallStatus(params) %}
  <section class="govuk-grid-row" aria-labelledby="{{ 'recycling-obligations-heading' if params.showRecyclingObligationsHeading else 'overall-obligation-status' }}">
    <div class="govuk-grid-column-full">
      {% if params.showRecyclingObligationsHeading %}
        <h2 id="recycling-obligations-heading" class="govuk-heading-l">{{ params.i18n.ct('overallStatus', 'recyclingObligationsHeading') }}</h2>
      {% endif %}
      {% if params.overallStatus == 'Met' %}
        <p id="overall-obligation-status" class="govuk-body-l govuk-!-margin-bottom-6" role="status">
          {{ params.i18n.ct('overallStatus', 'overallMet') }}
        </p>
      {% else %}
        <p id="overall-obligation-status" class="govuk-body-l govuk-!-margin-bottom-6" role="status">
          {{ params.i18n.ct('overallStatus', 'overallNotMet') }}
        </p>
      {% endif %}
    </div>
  </section>
{% endmacro %}
