{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro appCertificateObligationsTable(params) %}
  <div
    class="app-certificate-table-scroll"
    role="region"
    tabindex="0"
    {% if params.ariaLabelledBy %}aria-labelledby="{{ params.ariaLabelledBy }}"{% endif %}
  >
    {{ govukTable({
      firstCellIsHeader: params.firstCellIsHeader if params.firstCellIsHeader is defined else true,
      classes: params.classes or "app-certificate-table govuk-table--small-text-until-tablet govuk-!-margin-bottom-0",
      caption: params.caption,
      captionClasses: params.captionClasses,
      attributes: params.attributes,
      head: [
        { text: t(params.locale, params.i18n.ck('obligationsTable', 'tableMaterial')) },
        { text: t(params.locale, params.i18n.ck('obligationsTable', 'tableObligationToMeet')), format: "numeric" },
        { text: t(params.locale, params.i18n.ck('obligationsTable', 'tableAwaiting')), format: "numeric" },
        { text: t(params.locale, params.i18n.ck('obligationsTable', 'tableAccepted')), format: "numeric" },
        { text: t(params.locale, params.i18n.ck('obligationsTable', 'tableOutstanding')), format: "numeric" },
        { text: t(params.locale, params.i18n.ck('obligationsTable', 'tableStatus')) }
      ],
      rows: params.tableRows
    }) }}
  </div>
{% endmacro %}
