{% macro agencyLogos(params) %}

{% set imageClass = "prn-pdf-logo" if params.isPdf else "" %}
{% set imageType = ".png" if params.isPdf else ".svg" %}

<div class="prn-logos-container">
    <div class="prn-logos-items">
        <img class="{{ imageClass }}" alt="prn-pdf-logo" aria-hidden="true" focusable="false" src="{{ getAssetPath('src/client/images/logos/ea' + imageType) }}">
    </div>
    <div class="prn-logos-items">
        <img class="{{ imageClass }}" alt="prn-pdf-logo" aria-hidden="true" focusable="false" src="{{ getAssetPath('src/client/images/logos/niea' + imageType) }}">
    </div>
    <div class="prn-logos-items">
        <img class="{{ imageClass }}" alt="prn-pdf-logo" aria-hidden="true" focusable="false" src="{{ getAssetPath('src/client/images/logos/sepa' + imageType) }}">
    </div>
    <div class="prn-logos-items">
        <img class="{{ imageClass }}" alt="prn-pdf-logo" aria-hidden="true" focusable="false" src="{{ getAssetPath('src/client/images/logos/nrw' + imageType) }}">
    </div>
</div>
{% endmacro %}
