PORT=3000
NODE_ENV=development

REDIS_HOST=127.0.0.1
USE_SINGLE_INSTANCE_CACHE=true
REDIS_TLS=false

SESSION_COOKIE_PASSWORD=the-password-must-be-at-least-32-characters-long
SESSION_COOKIE_SECURE=false

# Start backends from epr-local-environment first:
#   docker compose --profile obligations up -d
WASTE_ORGANISATIONS_API_BASE_URL=http://localhost:8006
WASTE_ORGANISATIONS_API_AUTH_MODE=basic
WASTE_ORGANISATIONS_API_CLIENT_ID=waste-obligations-frontend
WASTE_ORGANISATIONS_API_CLIENT_SECRET=waste-obligations-frontend-pwd

WASTE_OBLIGATIONS_API_BASE_URL=http://localhost:8007
WASTE_OBLIGATIONS_API_AUTH_MODE=basic
WASTE_OBLIGATIONS_API_CLIENT_ID=waste-obligations-frontend
WASTE_OBLIGATIONS_API_CLIENT_SECRET=waste-obligations-frontend-pwd

MANAGE_YOUR_RECYCLING_OBLIGATIONS_URL=https://localhost:7084/report-data/manage-your-recycling-obligations

# Required for local development (cdp-waste-obligations-frontend-signin-dev app registration)
AZURE_AD_B2C_CLIENT_ID=
AZURE_AD_B2C_CLIENT_SECRET=
AZURE_AD_B2C_INSTANCE=https://AZDCUSPOC2.b2clogin.com
AZURE_AD_B2C_DOMAIN=AZDCUSPOC2.onmicrosoft.com
AZURE_AD_B2C_TENANT_ID=8a3f509a-c892-4bec-bfe9-d5f5cf251813
AZURE_AD_B2C_USER_FLOW=B2C_1A_EPR_SignUpSignIn
AZURE_AD_B2C_REDIRECT_URI=https://localhost:3000/auth/callback
AZURE_AD_B2C_POST_LOGOUT_REDIRECT_PATH=/signed-out
AUTH_COOKIE_PASSWORD=secret-password-must-be-at-least-32-characters-long
AUTH_COOKIE_SECURE=false


export AZURE_AD_B2C_INSTANCE="https://azdcuspoc2.b2clogin.com"
export AZURE_AD_B2C_DOMAIN="azdcuspoc2.onmicrosoft.com"
export AZURE_AD_B2C_USER_FLOW="b2c_1a_epr_signupsignin"
export AZURE_AD_B2C_REDIRECT_URI="https://localhost:7154/regulators/signin-oidc"
export AZURE_AD_B2C_LOGOUT_URL="https://rwd-dev9.azure.defra.cloud/regulators/Account/SignOut"