PORT=3000
NODE_ENV=development

REDIS_HOST=127.0.0.1
USE_SINGLE_INSTANCE_CACHE=true
REDIS_TLS=false

# Start backends from epr-local-environment first:
#   docker compose --profile obligations up -d
WASTE_ORGANISATIONS_API_BASE_URL=http://localhost:8006
WASTE_ORGANISATIONS_API_AUTH_MODE=basic
WASTE_ORGANISATIONS_API_CLIENT_ID=waste-obligations-frontend
WASTE_ORGANISATIONS_API_CLIENT_SECRET=waste-obligations-frontend-pwd

WASTE_OBLIGATIONS_API_BASE_URL=http://localhost:8007
WASTE_OBLIGATIONS_API_AUTH_MODE=basic
WASTE_OBLIGATIONS_API_CLIENT_ID=waste-obligations-frontend
WASTE_OBLIGATIONS_API_CLIENT_SECRET=waste-obligations-frontend-pwd

MANAGE_YOUR_RECYCLING_OBLIGATIONS_URL=https://localhost:7084/report-data/manage-your-recycling-obligations
