{% extends 'compliance/compliance-submit.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "compliance-submit/declaration-text/macro.njk" import appComplianceSubmitDeclarationText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set p = pageI18n(locale, localeBase) %}
{% set declarationInterpolation = { complianceSchemeName: complianceSchemeName } %}

{% set summaryListRows = [
  {
    key: { text: p.ct('summaryList', 'complianceScheme') },
    value: { text: complianceSchemeName }
  },
  {
    key: { text: p.ct('summaryList', 'schemeOperator') },
    value: { text: schemeOperatorName }
  },
  {
    key: { text: p.ct('summaryList', 'organisationId') },
    value: { text: organisationNumber }
  },
  {
    key: { text: p.ct('summaryList', 'address') },
    value: { text: organisationAddress }
  },
  {
    key: { text: p.ct('summaryList', 'nameOnAccount') },
    value: { text: nameOnAccount }
  },
  {
    key: { text: p.ct('summaryList', 'regulator') },
    value: { text: regulatorName }
  }
] %}

{% block submitFormSection %}
  <h2 id="regulation43-heading" class="govuk-heading-m">{{ p.ct('regulation43', 'heading') }}</h2>

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}">

    {{ govukRadios({
      idPrefix: "regulation43Compliant",
      name: "regulation43Compliant",
      fieldset: {
        legend: {
          html: p.ct('regulation43', 'legendPrefix') + ' <a class="govuk-link" href="' + regulation43Url + '" target="_blank" rel="noopener noreferrer">' + t(locale, "common.regulation43Text") + '<span class="govuk-visually-hidden"> ' + t(locale, "common.opensInNewTab") + '</span></a> ' + p.ct('regulation43', 'legendSuffix'),
          isPageHeading: false
        }
      },
      items: [
        {
          value: "yes",
          text: p.ct('regulation43', 'yes'),
          checked: regulation43Input == "yes"
        },
        {
          value: "no",
          text: p.ct('regulation43', 'no'),
          checked: regulation43Input == "no"
        }
      ],
      errorMessage: { text: formErrors.fields.regulation43Compliant } if formErrors and formErrors.fields.regulation43Compliant
    }) }}

    <h2 class="govuk-heading-m">{{ p.ct('declaration', 'heading') }}</h2>

    {{ appComplianceSubmitDeclarationText({
      i18n: p,
      interpolation: declarationInterpolation
    }) }}

    {{ govukInput({
      id: "fullName",
      name: "fullName",
      value: fullNameInput,
      autocomplete: "name",
      label: { text: p.ct('declaration', 'fullNameLabel') },
      errorMessage: { text: formErrors.fields.fullName } if formErrors and formErrors.fields.fullName
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({ text: p.ct('declaration', 'submitButton') }) }}
      <a class="govuk-link" href="{{ eprPackaging.manageYourRecyclingObligationsUrl }}">{{ p.ct('declaration', 'cancelLink') }}</a>
    </div>
  </form>
{% endblock %}
