{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro appObligationStatusTag(locale, tag) %}
  {% if tag.i18nKey %}
    {% set tagColourClass = {
      green: "govuk-tag--green",
      yellow: "govuk-tag--yellow",
      red: "govuk-tag--red",
      grey: "govuk-tag--grey"
    }[tag.variant] or "govuk-tag--grey" %}
    {{ govukTag({
      text: t(locale, tag.i18nKey, tag.i18nParams or {}),
      classes: tagColourClass
    }) }}
  {% endif %}
{% endmacro %}
