{% if googleTagManagerKey or googleAnalyticsMeasurementId %}
<script{% if nonce %} nonce="{{ nonce }}"{% endif %}>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('consent','default',{analytics_storage:'denied',ad_storage:'denied',ad_user_data:'denied',ad_personalization:'denied',wait_for_update:500});{% if googleTagManagerKey %}dataLayer.push({'gtm.start':new Date().getTime(),event:'gtm.js'});{% endif %}{% if cookiesPolicy and cookiesPolicy.confirmed and cookiesPolicy.analytics %}gtag('consent','update',{analytics_storage:'granted'});{% endif %}</script>
{% endif %}
