sp{% extends 'layouts/page.njk' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set p = pageI18n(locale, 'prns.list') %}
{% set pageTitle = p.t('pageHeading') %}

{% block content %}
<p><strong>>>>> TEMPORARY HELPER FOR PRNS/PERNS LIST <<<<</strong></p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ appHeading({
        text: p.t('pageHeading'),
        caption: organisationName
      }) }}

      {% if prns.length %}
        <p class="govuk-body">{{ p.t('resultsSummary', { count: prns.length, total: total }) }}</p>
        {{ govukTable(prnsTable) }}
      {% else %}
        <p class="govuk-body">{{ p.t('noPrnsFound') }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
