{% extends 'layouts/page.njk' %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set p = pageI18n(locale, 'prns.list') %}
{% set pageTitle = p.t('pageHeading') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ p.t('pageHeading') }}</h1>
      <p class="govuk-body">{{ p.t('intro') }}</p>

      {% if prnsViewModel.rows.length %}
        {% set tableHead = [] %}
        {% for column in prnsViewModel.columns %}
          {% set tableHead = tableHead.concat([{ text: column.heading }]) %}
        {% endfor %}

        {% set tableRows = [] %}
        {% for row in prnsViewModel.rows %}
          {% set rowCells = [] %}
          {% for column in prnsViewModel.columns %}
            {% set rowCells = rowCells.concat([row[column.key]]) %}
          {% endfor %}
          {% set tableRows = tableRows.concat([rowCells]) %}
        {% endfor %}

        {{ govukTable({
          classes: prnsViewModel.classes,
          caption: p.t('tableCaption'),
          captionClasses: "govuk-table__caption--m govuk-visually-hidden",
          head: tableHead,
          rows: tableRows
        }) }}

        {% if total %}
          <p class="govuk-body">{{ p.t('resultsSummary', { from: prnsViewModel.resultsFrom, to: prnsViewModel.resultsTo, total: total }) }}</p>
        {% endif %}

        {% if prnsViewModel.showAcceptSelectedButton %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: p.t('acceptSelectedButton'),
              type: "button"
            }) }}
          </div>
        {% endif %}
      {% else %}
        <p class="govuk-body">{{ p.t('noPrnsFound') }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
