{% extends 'compliance/compliance-success.njk' %}

{% set localeBase = 'compliance.statementSuccess' %}
{% set p = pageI18n(locale, localeBase) %}
{% set documentLinkLeadKey = 'statementLinkLead' %}
{% set documentLinkSuffixKey = 'statementLinkSuffix' %}
{% set publicRegisterBullet1Key = regulation43ComplianceKey %}
{% set confirmationEmailInterpolation = { userEmail: userEmail } %}

{% block successActions %}
  <a class="govuk-button" href="{{ eprPackaging.manageYourRecyclingObligationsUrl }}" role="button" data-module="govuk-button">
    {{ p.ct('success', 'returnLink') }}
  </a>
{% endblock %}
