{% extends 'layouts/page.njk' %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitle = t(locale, "compliance.certificate.pageTitle", { year: year }) %}
{% set headingText = t(locale, "compliance.certificate.heading", { year: year }) %}

{% block content %}
  {{ appHeading({
    text: headingText
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        {{ t(locale, "compliance.certificate.description1", { year: year, regulatorName: regulatorName }) }}
      </p>

      <p class="govuk-body">{{ t(locale, "compliance.certificate.mustIntro") }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t(locale, "compliance.certificate.mustBullet1") }}</li>
        <li>{{ t(locale, "compliance.certificate.mustBullet2") }}</li>
        <li>{{ t(locale, "compliance.certificate.mustBullet3") }}</li>
      </ul>

      {{ govukWarningText({
        text: t(locale, "compliance.certificate.warning"),
        iconFallbackText: t(locale, "compliance.common.warningIconFallback")
      }) }}

      <h2 class="govuk-heading-l">{{ t(locale, "compliance.certificate.howToTitle") }}</h2>

      <p class="govuk-body">
        {{ t(locale, "compliance.certificate.howToDescription", { year: year }) }}
      </p>

      <p class="govuk-body">{{ t(locale, "compliance.certificate.howToBeforeSubmitIntro") }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t(locale, "compliance.certificate.howToBullet1") }}</li>
        <li>{{ t(locale, "compliance.certificate.howToBullet2") }}</li>
        <li>{{ t(locale, "compliance.certificate.howToBullet3") }}</li>
      </ul>

      <p class="govuk-body">
        {{ t(locale, "compliance.certificate.regulatorContact", { regulatorName: regulatorName }) }}
        <a class="govuk-link" href="mailto:{{ regulatorEmail }}">{{ regulatorEmail }}</a>
      </p>

      <p class="govuk-body">
        {{ t(locale, "compliance.certificate.finalStatus") }}
      </p>

      {% if showContinueToSubmit %}
      {{ govukButton({
        text: t(locale, "compliance.common.continue"),
        href: "/compliance/" + organisationId + "/certificate/submit?year=" + year
      }) }}
      {% else %}
      <p class="govuk-body">
        {{ t(locale, "compliance.certificate.alreadySubmittedLead", { year: year }) }}
      </p>
      {{ govukButton({
        text: t(locale, "compliance.certificate.viewSubmissionButton"),
        href: "/compliance/" + organisationId + "/certificate/" + submittedComplianceDeclarationId + "/success",
        classes: "govuk-button--secondary"
      }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
