{% extends 'compliance/compliance-about.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set localeBase = 'compliance.certificate' %}

{% block aboutLead %}
  <p class="govuk-body">
    {{ componentT(locale, localeBase, 'about', 'description1', { year: year, regulatorName: regulatorName }) }}
  </p>
{% endblock %}

{% block mustBullets %}
  <li>{{ componentT(locale, localeBase, 'about', 'mustBullet1') }}</li>
  <li>{{ componentT(locale, localeBase, 'about', 'mustBullet2') }}</li>
  <li>{{ componentT(locale, localeBase, 'about', 'mustBullet3') }}</li>
{% endblock %}

{% block howToBullets %}
  <li>{{ componentT(locale, localeBase, 'about', 'howToBullet1') }}</li>
  <li>{{ componentT(locale, localeBase, 'about', 'howToBullet2') }}</li>
  <li>{{ componentT(locale, localeBase, 'about', 'howToBulletFullName') }}</li>
{% endblock %}

{% block finalStatus %}
  <p class="govuk-body">
    {{ componentT(locale, localeBase, 'about', 'finalStatus') }}
  </p>
{% endblock %}

{% block aboutActions %}
  {% if showContinueToSubmit %}
  {{ govukButton({
    text: t(locale, "common.continue"),
    href: "/compliance/producer/" + organisationId + "/certificate/submit?year=" + year
  }) }}
  {% else %}
  <p class="govuk-body">
    {{ componentT(locale, localeBase, 'about', 'alreadySubmittedLead', { year: year }) }}
  </p>
  {{ govukButton({
    text: componentT(locale, localeBase, 'about', 'viewSubmissionButton'),
    href: "/compliance/producer/" + organisationId + "/certificate/" + submittedComplianceDeclarationId + "/success",
    classes: "govuk-button--secondary"
  }) }}
  {% endif %}
{% endblock %}
