{% extends 'compliance/compliance-submit.njk' %}


{% set declarationInterpolation = { organisationName: organisationName } %}

{% set organisationSummaryRows = [
  {
    key: { text: componentT(locale, localeBase, 'summaryList', 'organisationName'), attributes: { id: "organisation-summary-heading" } },
    value: { text: organisationName }
  },
  {
    key: { text: componentT(locale, localeBase, 'summaryList', 'organisationId') },
    value: { text: organisationNumber }
  },
  {
    key: { text: componentT(locale, localeBase, 'summaryList', 'address') },
    value: { text: organisationAddress }
  },
  {
    key: { text: componentT(locale, localeBase, 'summaryList', 'nameOnAccount') },
    value: { text: nameOnAccount }
  },
  {
    key: { text: componentT(locale, localeBase, 'summaryList', 'regulator') },
    value: { text: regulatorName }
  }
] %}
