{% extends "govuk/template.njk" %}

{% set htmlLang = locale %}
{% set mainLang = locale %}

{# Import GOVUK components globally #}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "link-opens-new-window/macro.njk" import appLinkOpensInNewWindow %}

{% set mainClasses = "app-main-wrapper" %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/favicon.ico") }}">
  <link rel="icon" sizes="any" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/favicon.svg") }}" type="image/svg+xml" >
  <link rel="mask-icon" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/govuk-icon-mask.svg") }}" color="{{ themeColor }}">
  <link rel="apple-touch-icon" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/govuk-icon-180.png") }}">
  <link rel="manifest" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/manifest.json") }}">
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('src/client/stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {# Legacy GOV.UK branding (govukRebrand global is false). #}
  {% set headerClasses = "epr-header" %}
  {% if navigation | length == 1 %}
    {% set headerClasses = headerClasses + " epr-header--auth-only" %}
  {% endif %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: headerClasses,
    containerClasses: "govuk-width-container",
    serviceName: t(locale, "common.serviceName"),
    serviceUrl: eprPackaging.homeUrl,
    navigation: navigation,
    menuButtonText: t(locale, "common.nav.menu"),
    menuButtonLabel: t(locale, "common.nav.menuLabel"),
    useTudorCrown: false
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ t(locale, "common.serviceName") }}
{% endblock %}

{% block beforeContent %}
  {% set phaseHtml %}
    {{ t(locale, "common.phaseBanner.lead") }} <a class="govuk-link" href="{{ eprPackaging.feedbackUrl }}" rel="noreferrer noopener" target="_blank">{{ t(locale, "common.phaseBanner.feedbackLink") }}</a> {{ t(locale, "common.phaseBanner.leadAfterLink") }}
  {% endset %}

  {{ govukPhaseBanner({
    tag: { text: t(locale, "common.phaseBanner.tag") },
    html: phaseHtml,
    attributes: {
      role: "region",
      "aria-label": t(locale, "common.phaseBanner.label")
    }
  }) }}

  <div class="app-subheader">
    <nav aria-label="{{ t(locale, 'common.languageSwitcher.label') }}">
      <ul class="language-toggle">
        <li class="language-toggle__option">
          {% if locale == 'cy' %}
            <span aria-labelledby="English">
              <a id="English" class="govuk-link govuk-link--no-visited-state" href="{{ languageSwitcher.en }}" lang="en">{{ t(locale, "common.languageSwitcher.english") }}</a>
            </span>
          {% else %}
            <span lang="en">{{ t(locale, "common.languageSwitcher.english") }}</span>
          {% endif %}
        </li>
        <li class="language-toggle__option">
          {% if locale == 'cy' %}
            <span lang="cy">{{ t(locale, "common.languageSwitcher.welsh") }}</span>
          {% else %}
            <span aria-labelledby="Cymraeg">
              <a id="Cymraeg" class="govuk-link govuk-link--no-visited-state" href="{{ languageSwitcher.cy }}" lang="cy">{{ t(locale, "common.languageSwitcher.welsh") }}</a>
            </span>
          {% endif %}
        </li>
      </ul>
    </nav>

    <nav aria-label="{{ t(locale, 'common.nav.back') }}">
      {{ govukBackLink({
        href: backLink,
        text: t(locale, "common.nav.back")
      }) }}
    </nav>
  </div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {% include "partials/epr-footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('src/client/javascripts/application.js') }}"></script>
{% endblock %}
