{% extends 'layouts/page.njk' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "compliance-submit/regulator-inset/macro.njk" import appComplianceSubmitRegulatorInset %}
{% from "compliance-submit/overall-status/macro.njk" import appComplianceSubmitOverallStatus %}
{% from "compliance-submit/obligations-tables/macro.njk" import appComplianceSubmitObligationsTables %}
{% from "compliance-submit/declaration-text/macro.njk" import appComplianceSubmitDeclarationText %}
{% from "component-locale/macro.njk" import componentT %}

{% set heading = t(locale, localeBase + ".heading", { year: year }) %}
{% set pageTitle = pageTitle or t(locale, localeBase + ".pageTitle") %}

{% block content %}
  <div class="app-compliance-submit">
  {{ appHeading({
    text: heading,
    gridColumnClasses: 'govuk-grid-column-full'
  }) }}

  {% if formErrors %}
    {{ govukErrorSummary({
      titleText: t(locale, "common.errorSummary.title"),
      errorList: formErrors.summary
    }) }}
  {% endif %}

  {{ appComplianceSubmitRegulatorInset({
    locale: locale,
    localeBase: localeBase,
    regulatorName: regulatorName,
    regulatorEmail: regulatorEmail
  }) }}

  <section class="govuk-grid-row" aria-labelledby="organisation-summary-heading">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-0",
        rows: organisationSummaryRows
      }) }}
    </div>
  </section>

  {{ appComplianceSubmitOverallStatus({
    locale: locale,
    localeBase: localeBase,
    overallStatus: overallStatus,
    showRecyclingObligationsHeading: showRecyclingObligationsHeading
  }) }}

  {{ appComplianceSubmitObligationsTables({
    locale: locale,
    localeBase: localeBase,
    obligationsTableRows: obligationsTableRows,
    glassTableRows: glassTableRows,
    obligationsAriaLabelledBy: "recycling-obligations-heading" if showRecyclingObligationsHeading
  }) }}

  <section class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block submitFormSection %}
      <h2 class="govuk-heading-m">{{ componentT(locale, localeBase, 'declaration', 'heading') }}</h2>

      {{ appComplianceSubmitDeclarationText({
        locale: locale,
        localeBase: localeBase,
        interpolation: declarationInterpolation
      }) }}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">
        {% block formFieldsBeforeDeclaration %}{% endblock %}
        {{ govukInput({
          id: "fullName",
          name: "fullName",
          value: fullNameInput,
          autocomplete: "name",
          label: { text: componentT(locale, localeBase, 'declaration', 'fullNameLabel') },
          errorMessage: { text: formErrors.fields.fullName } if formErrors and formErrors.fields.fullName
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({ text: componentT(locale, localeBase, 'declaration', 'submitButton') }) }}
          <a class="govuk-link" href="{{ eprPackaging.manageYourRecyclingObligationsUrl }}">{{ componentT(locale, localeBase, 'declaration', 'cancelLink') }}</a>
        </div>
      </form>
      {% endblock %}
    </div>
  </section>
  </div>
{% endblock %}
