{% extends 'layouts/page.njk' %}

{% set localeBase = 'compliance.submitError' %}
{% set p = pageI18n(locale, localeBase) %}
{% set heading = p.t('heading') %}
{% set pageTitle = heading %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ p.ct(complianceType, 'body1') }}</p>
      <p class="govuk-body">{{ p.ct(complianceType, 'body2') }}</p>
      <p class="govuk-body">
        {{ p.ct('homepage', 'prefix') }}
        <a class="govuk-link" href="{{ eprPackaging.homeUrl }}">{{ p.ct('homepage', 'linkText') }}</a>.
      </p>
    </div>
  </div>
{% endblock %}
