{% extends 'layouts/page.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "link-opens-new-window/macro.njk" import appLinkOpensInNewWindow %}

{% set pageTitle = pageTitle or t(locale, localeBase + ".pageTitle") %}
{% set confirmationEmailInterpolation = confirmationEmailInterpolation or {} %}

{% block content %}
  <div class="govuk-grid-row app-compliance-success">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: t(locale, localeBase + ".panelTitle", { year: year }),
        classes: "govuk-!-margin-bottom-6"
      }) }}

      <section aria-labelledby="what-happens-next-heading">
        <h2 id="what-happens-next-heading" class="govuk-heading-l govuk-!-margin-bottom-4">{{ componentT(locale, localeBase, 'success', 'whatHappensNext') }}</h2>

        <p class="govuk-body govuk-!-margin-bottom-6">
          {{ componentT(locale, localeBase, 'success', 'confirmationEmail', confirmationEmailInterpolation) }}
        </p>

        <p class="govuk-body govuk-!-margin-bottom-6">
          {{ componentT(locale, localeBase, 'success', documentLinkLeadKey) }}
          <a class="govuk-link" href="{{ eprPackaging.manageYourRecyclingObligationsUrl }}">{{ componentT(locale, localeBase, 'success', 'manageObligationsLink') }}</a>
          {{ componentT(locale, localeBase, 'success', documentLinkSuffixKey) }}
        </p>
      </section>

      <section aria-labelledby="regulator-may-ask">
        <p id="regulator-may-ask" class="govuk-body govuk-!-margin-bottom-4">
          {{ componentT(locale, localeBase, 'success', 'regulatorMayAsk', { regulatorName: regulatorName }) }}
        </p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>{{ componentT(locale, localeBase, 'success', 'regulatorBullet1') }}</li>
          <li>{{ componentT(locale, localeBase, 'success', 'regulatorBullet2') }}</li>
        </ul>
      </section>

      <section aria-labelledby="public-register-lead">
        <p id="public-register-lead" class="govuk-body govuk-!-margin-bottom-4">
          {{ componentT(locale, localeBase, 'success', 'publicRegisterLead') }}
          {{ appLinkOpensInNewWindow({
            href: publicRegisterUrl,
            text: componentT(locale, localeBase, 'success', 'publicRegisterLink'),
            hiddenText: t(locale, "common.opensInNewTab")
          }) }}
          {{ componentT(locale, localeBase, 'success', 'publicRegisterSuffix') }}
        </p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>{{ t(locale, publicRegisterBullet1Key) }}</li>
          <li>{{ componentT(locale, localeBase, 'success', 'publicRegisterBullet2') }}</li>
        </ul>
      </section>

      <section aria-labelledby="resubmit-lead">
        <p id="resubmit-lead" class="govuk-body govuk-!-margin-bottom-7">
          {{ componentT(locale, localeBase, 'success', 'resubmitLead', { regulatorName: regulatorName }) }}
          <a class="govuk-link" href="mailto:{{ regulatorEmail }}">{{ regulatorEmail }}</a>
        </p>
      </section>

      <nav aria-label="{{ componentT(locale, localeBase, 'success', 'returnLink') }}" class="govuk-!-margin-bottom-7">
        <div class="govuk-button-group">
          {% block successActions %}{% endblock %}
        </div>
      </nav>
    </div>
  </div>
{% endblock %}
