{% macro recyclingNoteRow(params) %}
  {% set selector = params.label | lower %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <label class="govuk-label govuk-!-font-size-19" for="{{selector}}">
        <strong>{{params.label}}</strong>
      </label>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-label govuk-!-font-size-19 {{selector}}" id="{{selector}}">
        {{params.value}}
      </div>
    </div>
  </div>
  <hr />
{% endmacro %}
