{% extends 'compliance/compliance-success.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set localeBase = 'compliance.certificateSuccess' %}
{% set p = pageI18n(locale, localeBase) %}
{% set documentLinkLeadKey = 'certificateLinkLead' %}
{% set documentLinkSuffixKey = 'certificateLinkSuffix' %}
{% set publicRegisterBullet1Key = obligationStatusBulletKey %}
{% set confirmationEmailInterpolation = { userEmail: userEmail } %}

{% block successActions %}
  {{ govukButton({
    text: p.ct('success', 'viewCertificateButton'),
    href: certificateViewHref
  }) }}
  <a class="govuk-button govuk-button--secondary" href="{{ eprPackaging.manageYourRecyclingObligationsUrl }}" role="button" data-module="govuk-button">
    {{ p.ct('success', 'returnLink') }}
  </a>
{% endblock %}
