{% extends 'compliance/compliance-success.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set localeBase = 'compliance.certificateSuccess' %}
{% set documentLinkLeadKey = localeBase + '.certificateLinkLead' %}
{% set documentLinkSuffixKey = localeBase + '.certificateLinkSuffix' %}
{% set publicRegisterBullet1Key = localeBase + '.publicRegisterBullet1' %}

{% block successActions %}
  {{ govukButton({
    text: t(locale, localeBase + ".viewCertificateButton"),
    href: certificateViewHref
  }) }}
  <a class="govuk-button govuk-button--secondary" href="{{ eprPackaging.manageYourRecyclingObligationsUrl }}" role="button" data-module="govuk-button">
    {{ t(locale, localeBase + ".returnLink") }}
  </a>
{% endblock %}
