{% from "component-locale/macro.njk" import componentT %}

{% macro appComplianceSubmitDeclarationText(params) %}
  <p class="govuk-body">{{ componentT(params.locale, params.localeBase, 'declaration', 'intro') }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ componentT(params.locale, params.localeBase, 'declaration', 'bullet1', params.interpolation or {}) }}</li>
    <li>{{ componentT(params.locale, params.localeBase, 'declaration', 'bullet2') }}</li>
    <li>{{ componentT(params.locale, params.localeBase, 'declaration', 'bullet3') }}</li>
  </ul>
{% endmacro %}
