@use 'govuk-frontend' as *;

.download-pdf-button {
  &.govuk-button {
    box-shadow: none;
  }

  &.govuk-link {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: govuk-colour('blue');
    text-decoration: underline;

    &:hover {
      color: #003078;
    }

    &:focus:not(:active):not(:hover) {
      background-color: #ffdd00;
      box-shadow:
        0 -2px #ffdd00,
        0 4px #0b0c0c;
    }
  }
}
