{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro downloadPdfButton(params) %}
  <p class="govuk-body">
    {{ govukButton({
      text: params.text,
      classes: "govuk-body govuk-link download-pdf-button"
    }) }}
  </p>
{% endmacro %}
