{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if statusCode == 404 %}
        <p>{{ t(locale, "errorPages.404.body1") }}</p>
        <p>
          {{ t(locale, "errorPages.404.body2.prefix") }}
          <a class="govuk-link" href="{{ eprPackaging.homeUrl }}">{{ t(locale, "errorPages.404.body2.linkText") }}</a>.
        </p>
      {% elseif statusCode == 500 %}
        <p>{{ t(locale, "errorPages.500.body1") }}</p>
        <p>{{ t(locale, "errorPages.500.body2") }}</p>
        <p>
          {{ t(locale, "errorPages.500.body3.prefix") }}
          <a class="govuk-link" href="{{ eprPackaging.homeUrl }}">{{ t(locale, "errorPages.500.body3.linkText") }}</a>.
        </p>
      {% else %}
        <p>{{ message }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
